<footer class="footer-box">
    <h1 class="standart-title footer">Fresh <span class="standart-span">Harvest</span> Box has got you covered</h1>
    <p class="standart-text footer">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    <form class="form footer">
        <h2 class="form-title">Ordering <span class="standart-span form one">from us</span> is quick and easy! Fill out <span class="standart-span form two">the form</span> below and we will contact you !</h2>
   <label><input type="text" name="input-name" class="standart-input" placeholder="Full Name"/></label>
   <label><input type="email" name="input-email" class="standart-input" placeholder="Email"/></label>
   <label><textarea name="textarea" class="standart-input textarea" placeholder="Comment"></textarea></label>
   <button type="submit" class="form-button">Send</button>
    </form>
    <div class="links-container">
<div class="picture"></div>
    <p class="link-title">Follow us on our social networks:</p>
    <ul class="social-links-list">
        <li><a class="social-link" href="https://www.instagram.com/"
            ><svg class="social-svg" width="24" height="24">
              <use
                href=""
              ></use></svg
          ></a></li>
        <li><a class="social-link" href="https://www.facebook.com/"
            ><svg class="social-svg" width="24" height="24">
              <use
                href=""
              ></use></svg
          ></a></li>
        <li><a class="social-link" href="https://www.youtube.com/"
            ><svg class="social-svg" width="24" height="24">
              <use
                href=""
              ></use></svg
          ></a></li>
    </ul>
</div>
    
   <!-- <a class="logo-link" href=""><svg></svg><svg></svg></a> -->
   <p class="standart-text footer one">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
    <ul class="navigation-footer">
        <li class="navigation-footer-link"><a href="">how it works</a></li>
        <li class="navigation-footer-link"><a href="">vegetables</a></li>
        <li class="navigation-footer-link"><a href="">reviews</a></li>
    </ul>
    <address>
        <ul class="address-list">
<li class="address-list-link"><a href="tel:+380(68)4439426">+380 (68) 443-94-26</a></li>
<li class="address-list-link"><address>1678 S. Pioneer Road Salt<br> Lake City UT 84104</address></li>
        </ul>
    </address>
    <div class="bottom-line">
        <a class="bottom-line-item" href="">Privacy Policy</a>
        <span class="bottom-line-item span">/</span>
        <button class="bottom-line-item" type="button">Cookie settings</button>
        <p class="bottom-line-item">&#169;Green Harvest 2023</p>
    </div>

</footer>