<footer class="footer-box">
  <div class="container">
    <div class="footer-wrapper-one">
      <div class="logo-wrapper">
        <a class="logo-link" href="">
          <svg class="logo-svg pic" width="16" height="16">
            <use href="./icons/icons.svg#icon-logo-icon-tablet-desktop"></use>
          </svg>
          <svg class="logo-svg text">
            <use href="./icons/icons.svg#icon-logo-text-tablet-desktop"></use>
          </svg>
        </a>
        <p class="standart-text footer">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-wrapper-two">
        <ul class="navigation-footer">
          <li class="navigation-footer-link"><a href="">how it works</a></li>
          <li class="navigation-footer-link"><a href="">vegetables</a></li>
          <li class="navigation-footer-link"><a href="">reviews</a></li>
        </ul>
        <address>
          <ul class="address-list">
            <li class="address-list-link">
              <a href="tel:+380(68)4439426">+380 (68) 443-94-26</a>
            </li>
            <li class="address-list-link">
              <address>
                1678 S. Pioneer Road Salt<br />
                Lake City UT 84104
              </address>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="bottom-line">
      <a class="bottom-line-item" href="">Privacy Policy</a>
      <span class="bottom-line-item span">/</span>
      <button class="bottom-line-item" type="button">Cookie settings</button>
      <p class="bottom-line-item">&#169;Green Harvest 2023</p>
    </div>
  </div>
</footer>
