<header class="header container">
  <div class="container header-container">
    <a href="../index.html">
      <div class="logo-header-cont">
        <svg class="" width="16" height="16">
          <use href="./icons/icons.svg#icon-logo-icon-mobile"></use>
        </svg>
        <svg class="" width="148" height="12">
          <use href="./icons/icons.svg#icon-logo-text-mobile"></use>
        </svg>
      </div>
    </a>
    <button class="open-menu-mobile-btn" type="button" id="openDialog">
      <svg class="" width="32" height="32">
        <use href="./icons/icons.svg#icon-open-menu-mobile"></use>
      </svg>
    </button>
    <nav class="nav-list">
      <ul>
        <li>
          <a href="">How It Works</a>
        </li>
        <li>
          <a href="">Vegetables</a>
        </li>
        <li>
          <a href="">Reviews</a>
        </li>
      </ul>
      <button type="button">Shop now</button>
    </nav>
  </div>
</header>
