<header class="header">
  <div class="container header-container">
    <a href="./index.html" aria-label="Green harvest logo">
      <div class="logo-mobile-header-cont">
        <svg class="" width="16" height="16">
          <use href="./icons/icons.svg#icon-logo-icon-mobile"></use>
        </svg>
        <svg class="" width="148" height="12">
          <use href="./icons/icons.svg#icon-logo-text-mobile"></use>
        </svg>
      </div>
    </a>
    <a href="./index.html" aria-label="Green harvest logo">
      <div class="logo-tab-desk-header-cont">
        <svg class="" width="18" height="18">
          <use href="./icons/icons.svg#icon-logo-icon-tablet-desktop"></use>
        </svg>
        <svg class="" width="168" height="15">
          <use href="./icons/icons.svg#icon-logo-text-tablet-desktop"></use>
        </svg>
      </div>
    </a>
    <button
      class="open-menu-mobile-btn"
      id="openDialog"
      aria-label="open modal button"
      type="button"
    >
      <svg class="" width="32" height="32">
        <use href="./icons/icons.svg#icon-open-menu-mobile"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#work">How It Works</a>
        </li>
        <li class="nav-list-item">
          <a href="#vegetables">Vegetables</a>
        </li>
        <li class="nav-list-item">
          <a href="#reviews">Reviews</a>
        </li>
      </ul>
      <a class="header-nav-link" href="#order">Shop now</a>
    </nav>
  </div>
</header>
