<section class="work" id="work">
  <div class="work-top-side">
    <div class="container">
      <h2 class="work-title visually-hidden">How it works</h2>
      <img
        class="work-img"
        src="../images/tell/WomanSmile@1x.png"
        alt="happy-athletic-voman-cutting-fruit"
        width="335"
        height="450"
      />
    </div>
  </div>
  <div class="work-bottom-side">
    <div class="container">
      <h3 class="work-subtitle">
        To order your
        <span class="work-subtitle-light">vegetable</span> basket, simply follow
        these
        <span class="work-subtitle-light"> easy steps </span>
      </h3>
      <p class="work-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="work-list">
        <li class="work-item">
          <div class="order-number-wrapper">
            <div class="order-number"><span class="number">1</span></div>
          </div>
          <p class="work-item-text">
            Just choose
            <span class="work-item-bold">the vegetable</span> you want to order
            by clicking on the checkboxes
            <span class="work-item-bold">next to it</span>.
          </p>
        </li>
        <li class="work-item">
          <div class="order-number-wrapper">
            <div class="order-number"><span class="number">2</span></div>
          </div>
          <p class="work-item-text">
            Click on
            <span class="work-item-bold">the basket</span> and fill out the
            form.
          </p>
        </li>
        <li class="work-item">
          <div class="order-number-wrapper">
            <div class="order-number"><span class="number">3</span></div>
          </div>
          <p class="work-item-text">
            Sit back and relax! Your<span class="work-item-bold"
              >fresh vegetables</span
            >basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
