<section class="work" id="work">
  <div class="container work-container">
    <div class="work-top-side">
      <h2 class="work-title visually-hidden">How it works</h2>
      <picture>
        <source
          media="(min-width: 1280px)"
          width="430"
          height="640"
          srcset="
            ./images/desktop/WomanSmile@1x.png 1x,
            ./images/desktop/WomanSmile@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          width="640"
          height="640"
          srcset="
            ./images/tab/WomanSmile@1x.png 1x,
            ./images/tab/WomanSmile@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          width="335"
          height="450"
          srcset="
            ./images/tell/WomanSmile@1x.png 1x,
            ./images/tell/WomanSmile@2x.png 2x
          "
        />
        <img
          width="335"
          height="450"
          class="work-img"
          src="./images/tell/WomanSmile@1x.png"
          alt="happy-athletic-voman-cutting-fruit"
        />
      </picture>
    </div>
    <div class="work-bottom-side">
      <h3 class="work-subtitle">
        To order your
        <span class="work-subtitle-light">vegetable</span> basket, simply follow
        these
        <span class="work-subtitle-light"> easy steps </span>
      </h3>
      <p class="work-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="work-list">
        <li class="work-item">
          <!-- <span class="number">1</span> -->
          <p class="work-item-text">
            Just choose
            <span class="work-item-bold">the vegetable</span> you want to order
            by clicking on the checkboxes
            <span class="work-item-bold">next to it</span>.
          </p>
        </li>
        <li class="work-item">
          <!-- <span class="number">2</span> -->
          <p class="work-item-text">
            Click on
            <span class="work-item-bold">the basket</span> and fill out the
            form.
          </p>
        </li>
        <li class="work-item">
          <!-- <span class="number">3</span> -->
          <p class="work-item-text">
            Sit back and relax! Your<span class="work-item-bold"
              >fresh vegetables</span
            >basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
