
  <div class="backdrop">
    <div class="modal">
      <button id="closeDialog" class="modal-button-close" type="button">
        <svg class="modal-svg" width="16" height="16">
          <use href="./icons/icons.svg#icon-close-menu-mobile"></use>
        </svg>
      </button>
      <nav class="nav-modal">
        <ul class="modal-list">
          <li class="modal-list-item"><a class="list-item-link" href="#work">How It Works</a></li>
          <li class="modal-list-item"><a class="list-item-link" href="#vegetables">Vegetables</a></li>
          <li class="modal-list-item"><a class="list-item-link" href="#reviews">Reviews</a></li>
        </ul>
      </nav>
      <button class="modal-button" type="button">Shop now</button>
    </div>
  </div>

