<section id="order" class="order">
  <div class="container">
    <h2 class="order-title">
      Fresh <span>Harvest</span> Box has got you covered
    </h2>
    <p class="order-desc">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-inner">
      <div class="form-wrapper">
        <form class="order-form" name="order-form">
          <p class="form-desc">
            Ordering <span class="red">from us</span> is quick and easy! Fill
            out <span class="green">the form</span> below and we will contact
            you !
          </p>
          <div class="input-container">
            <label for="name" class="input-label"></label>
            <input id="name" type="text" class="form-input" name="name" placeholder="Full Name" pattern="[A-Za-z ']{3,}"
              required />
          </div>
          <div class="input-container">
            <label for="email" class="input-label"></label>
            <input id="email" type="email" class="form-input" name="email" placeholder="Email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required />
          </div>
          <div class="input-container">
            <label for="user-comment" class="input-label"></label>
            <textarea id="user-comment" class="user-comment" name="user-comment" placeholder="Comment"></textarea>
          </div>
          <button type="submit" class="order-btn">Send</button>
        </form>
      </div>
      <div class="order-fallow">
        <picture class="fallow-img">
          <source media="(min-width: 1280px)" srcset="
              ./images/desktop/BottleSmoothies@1x.png 1x,
              ./images/desktop/BottleSmoothies@2x.png 2x
            " />
          <source media="(min-width: 768px) and (max-width:
          1279px)" srcset="
              ./images/tab/BottleSmoothies@1x.png 1x,
              ./images/tab/BottleSmoothies@2x.png 2x
            " />
          <source media="(min-width: 320px) and (max-width: 767.98px)" srcset="
              ./images/tell/BottleSmoothies@1x.png 1x,
              ./images/tell/BottleSmoothies@2x.png 2x
            " />

          <img src="./images/tell/BottleSmoothies@1x.png" alt="Bottle Smoothies" width="" />
        </picture>

        <p class="fallow-desc">Follow us on our social networks:</p>
        <ul class="fallow-list">
          <li class="fallow-list-item">
            <a class="order-sotial-link" href="https://www.instagram.com/goitclub/" target="_blank"
              rel="noopener noreferrer">instagram</a>
          </li>
          <li class="fallow-list-item">
            <a class="order-sotial-link" href="https://www.facebook.com/goITclub/" target="_blank"
              rel="noopener noreferrer">facebook</a>
          </li>
          <li class="fallow-list-item">
            <a class="order-sotial-link" href="https://www.youtube.com/c/GoIT" target="_blank"
              rel="noopener noreferrer">youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>