<section id="vegetables" class="vegetables">
  <div class="container">
    <h2 class="vegetables-htwo">
      organic <span class="vegetables-htwo-span">vegetables</span>
    </h2>
    <p class="vegetables-p">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-item-hthree">eggplant</h3>
        <p class="vegetables-item-p">60 UAH / kg</p>
        <img
          class="vegetables-item-img"
          srcset="
            ./images/vegetables/eggplant@1x.png 1x,
            ./images/vegetables/eggplant@2x.png 2x
          "
          src="./images/vegetables/eggplant@1x.png"
          alt="eggplant"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-hthree">leek</h3>
        <p class="vegetables-item-p">50 UAH / kg</p>
        <img
          class="vegetables-item-img"
          srcset="
            ./images/vegetables/leek@1x.png 1x,
            ./images/vegetables/leek@2x.png 2x
          "
          src="./images/vegetables/leek@1x.png"
          alt="leek"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-hthree">mushrooms</h3>
        <p class="vegetables-item-p">40 UAH / kg</p>
        <img
          class="vegetables-item-img"
          srcset="
            ./images/vegetables/mushrooms@1x.png 1x,
            ./images/vegetables/mushrooms@2x.png 2x
          "
          src="./images/vegetables/mushrooms@1x.png"
          alt="mushrooms"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-hthree">corn</h3>
        <p class="vegetables-item-p">60 UAH / kg</p>
        <img
          class="vegetables-item-img"
          srcset="
            ./images/vegetables/corn@1x.png 1x,
            ./images/vegetables/corn@2x.png 2x
          "
          src="./images/vegetables/corn@1x.png"
          alt="corn"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-hthree">sweet potatoes</h3>
        <p class="vegetables-item-p">50 UAH / kg</p>
        <img
          class="vegetables-item-img"
          srcset="
            ./images/vegetables/potatoes@1x.png 1x,
            ./images/vegetables/potatoes@2x.png 2x
          "
          src="./images/vegetables/potatoes@1x.png"
          alt="potatoes"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-hthree">carrot</h3>
        <p class="vegetables-item-p">40 UAH / kg</p>
        <img
          class="vegetables-item-img"
          srcset="
            ./images/vegetables/carrot@1x.png 1x,
            ./images/vegetables/carrot@2x.png 2x
          "
          src="./images/vegetables/carrot@1x.png"
          alt="carrot"
        />
      </li>
    </ul>
    <button type="button" class="vegetables-btn">
      <a href="#order">Shop now</a>
    </button>
  </div>
</section>
