
    .footer-box{
        background-color: #7A3145;
        padding: 40px 0 20px;
    }

.logo-link{
    width: 168px;
    height: 16px;
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

.logo-svg.pic{
    display: inline-flex;
    flex-shrink: 0;
    width: 16px;
     height: 16px;
}

    .standart-text.footer{
        color: #FBFBFB;
font-family: "Studio Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.02em;
margin-bottom: 40px;
    }

    .navigation-footer{
        display: block;
        margin-bottom: 40px;
    }

    .navigation-footer-link{
        color: #FBFBFB;
font-family: "Studio Pro";
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 1;
letter-spacing: -0.015em;
    }

    .navigation-footer-link:not(:last-child){
        margin-bottom: 14px;
    }

    .footer-wrapper-two{
        margin-bottom: 100px;
    }

    .address-list-link{
        color: #FBFBFB;
font-family: "Studio Pro";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.28;
letter-spacing: -0.01em;
    }

    .address-list-link:first-child{
        padding-bottom: 14px;
    }

    .bottom-line{
        display: flex;
        align-items: center;
    }

    .bottom-line-item{
        color: rgba(251, 251, 251, 0.50);
font-family: "Studio Pro";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
letter-spacing: -0.01em;

    }

    .bottom-line button{
        background-color: transparent;
        border: none;
        margin-right: auto;
        padding: 0;
    }

 .bottom-line-item.span{
    margin: 0 8px;
 }

                                                              /* ПЕРЕЛОМ */

 @media screen and (min-width: 768px) {

    .footer-box{
        padding: 75px 0 24px;
    }

    .logo-svg.pic{
        width: 18px;
         height: 18px;
    }
     
    .footer-wrapper-one{
        display: flex;
     }

    .standart-text.footer{
        width: 265px;
font-size: 16px;
    }

    .logo-wrapper{
        margin-right: auto;
    }

    .footer-wrapper-two{
        display: flex;
        flex-direction: column;
        margin-right: 17px;
    }
     
    .logo-link{
        width: 194px;
        height: 18px;
        gap: 8px;
        }

        .navigation-footer{
            margin-bottom: 64px;
        }

        .navigation-footer-link{
        font-size: 32px;
        line-height: 1;
        }

        .navigation-footer-link:not(:last-child){
            margin-bottom: 25px;
        }
         
        .address-list-link{
    font-size: 18px;
    line-height: 1.1;
        }

        .address-list-link:first-child{
            padding-bottom: 25px;
        }
        
        .bottom-line{
            margin-right: 50px;
        }

        .bottom-line-item{ 
        font-size: 18px;
        line-height: 1.1;
        }
  }

                                                    /* ПЕРЕЛОМ */

  @media screen and (min-width: 1280px) {
    
    .footer-box{
        padding-bottom: 25px;
    }
       
    .footer-wrapper-two{
        flex-direction: row;
        margin-bottom: 125px;
        margin-right: 0;
         gap: 121px;
    }

    .navigation-footer{
        margin-bottom: 0px;
    }


    .bottom-line{
        margin-right: 33px;
    }

  }
  