.backdrop{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.40);
    visibility:hidden;
    opacity: 0;
    transition: all 2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.backdrop.active{
    opacity: 1;
    visibility: visible;
   }

   .backdrop.active .modal{
    transform: perspective(200px) translate(0, 0) scale(1);
    opacity: 1;
   }

.modal {
  width: 375px;
  height: 100vh;
  position: relative;
  top: 0;
  right: 0;
  background-color: #7a3145;
  padding: 240px 0 40px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: perspective(200px)  translate(-100%, 0) rotateY(-45deg) scale(0.1);
      
  transition: all 2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.modal-button-close {
  position: absolute;
  top: 16px;
  right: 20px;
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  transition: transform 500ms ease-in-out;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.40);
}

.modal{
    width: 375px;
    height: 100vh;
    position: absolute;
    top: 0;
   right: 0;
    background-color: #7A3145;
    padding: 240px 0 40px;
    display: flex;
    flex-direction: column;
    
}

.modal-button-close{
    position: absolute;
    top: 16px;
    right: 20px;
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    transition: transform 500ms ease-in-out;
}

.modal-button-close:hover{
    transform: scale(1.5);
}


.modal-svg{
    display: block;
    fill: #FBFBFB;
}

.modal-list-item a{
    display: block;
   width: 119px;
   height: 42px;
   padding: 12px 0 12px;
   border-radius: 12px;
border: 1px solid rgba(251, 251, 251, 0.20);
color: #FBFBFB;
text-align: center;
font-family: "Studio Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.02em;
}

.modal-list-item:not(:last-child){
    margin-bottom: 8px;
}

.modal-list-item:first-child a{
    background-color: #FBFBFB;
    color: #7A3145;
    border: none;
}

.modal-list-item:first-child:hover a{
    background-color: #7A3145;
    color: #FBFBFB;
    border: 1px solid rgba(251, 251, 251, 0.20);
}


.modal-list-item:not(:first-child):hover a{
    background-color: #FBFBFB;
    color: #7A3145;
    border: none;
}

.nav-modal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.modal-button{
width: auto;
height: 50px;
padding: 16px 41px;
border-radius: 30px;
background-color: transparent;
color: #FBFBFB;
font-family: "Studio Pro";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.28;
letter-spacing: -0.01em;
text-transform: uppercase;
border: none;
margin: 0 auto;
border: 1px solid rgba(251, 251, 251, 0.20);
}

.modal-button:hover{
    background-color: #FBFBFB;
    color: #7A3145;
    border: none;
}


@media screen and (min-width: 768px){
   
    .modal{
        width: 350px;
    }


  }

  


@media screen and (min-width: 1280px) {
  .backdrop {
    display: none;
  }

  .modal {
    display: none;
  }
}
