.vegetables {
  padding-top: 80px;
  padding-bottom: 80px;
}

.vegetables > .container {
  outline: none;
  position: relative;
}

.vegetables-htwo {
  color: #fbfbfb;
  font-size: 12.8vw;
  font-weight: 700;
  line-height: 1.04;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.vegetables-htwo-span {
  color: rgba(251, 251, 251, 0.3);
}

.vegetables-p {
  color: #fbfbfb;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
}

.vegetables-list {
  margin-bottom: 20px;
}

.vegetables-item {
  width: 100%;
  padding: 32px 26px 45px 27px;
  border-radius: 40px;
  background: #fbfbfb;
}

.vegetables-item:not(:last-child) {
  margin-bottom: 20px;
}

.vegetables-item-hthree {
  color: #7a3145;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015em;
  margin-bottom: 12px;
  margin-left: 5px;
}

.vegetables-item-p {
  color: #141414;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.21px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.vegetables-item-img {
  max-width: 100%;
  max-height: 100%;
}

.vegetables-shop-link-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vegetables-shop-link {
  display: inline-block;
  margin: 0 auto;
  padding: 16px 41px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.vegetables-shop-link:hover,
.vegetables-shop-link:focus {
  color: #7a3145;
  background-color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
}

@media screen and (min-width: 375px) {
  .vegetables-htwo {
    font-size: 48px;
    line-height: 1.06;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 768px) {
  .vegetables {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .vegetables-htwo {
    display: block;
    width: 508px;
    font-size: 64px;
    margin-bottom: 25px;
    line-height: 1;
    letter-spacing: -0.015em;
  }
  .vegetables-p {
    display: block;
    width: 626px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
    margin-bottom: 50px;
  }

  .vegetables-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    row-gap: 28px;
    margin-bottom: 0;
  }
  .vegetables-item {
    width: calc((100% - 18px) / 2);
    padding-top: 32px;
    padding-right: 30px;
    padding-bottom: 45px;
    padding-left: 31px;
  }
  .vegetables-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .vegetables-item-p {
    margin-bottom: 10px;
    margin-left: 0;
    letter-spacing: -0.015em;
  }

  .vegetables-item-hthree {
    font-size: 32px;
    letter-spacing: -0.48px;
    margin-left: 1px;
  }
  .vegetables-shop-link {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .vegetables-item {
    width: calc((100% - 36px) / 3);
    padding-left: 33px;
    padding-right: 33px;
  }
  .vegetables-shop-link {
    display: inline-block;
    position: absolute;
    padding: 16px 32px;
    top: 141px;
    right: 100px;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.015em;
  }

  .vegetables-item-hthree {
    font-size: 32px;
    letter-spacing: -0.015em;
    margin-left: -1px;
  }
}
